html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* Set your default background color */
  color: #000000;
  /* Set your default text color */
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  overflow-x: hidden !important;
  overflow: auto;
  flex-grow: 1;
}

/* Light theme */
.App.light {
  background-color: #ffffff;
  /* Light theme background color */
  color: #000000;
  /* Light theme text color */
}

/* Dark theme */
.App.dark {
  background-color: #000000;
  /* Dark theme background color */
  color: #ffffff;
  /* Dark theme text color */
}

.icon {
  font-size: 24px;
  /* Adjust the size as needed */
}
.toggle-button {
  margin-top: 100px !important;
  margin-left: auto;
  margin-right: auto;
}